In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/Lucanoto/Desktop/projeto3/nb

In [3]:
mortalidade = pd.read_csv("../Datasets/mortality.csv", sep=";",encoding = "ISO-8859-1") # Abrindo o dataset da mortalidade infantil
consumo_comida = pd.read_csv("../Datasets/food_consumption.csv", sep=";",encoding = "ISO-8859-1") # Abrindo o dataset do consumo calórico médio
pobreza = pd.read_csv("../Datasets/poverty.csv", sep=";",encoding = "ISO-8859-1") # Abrindo o dataset da qntd de pessoas que recebem menos que 2 dólares diários
print('Hora do show!')

Hora do show!

In [4]:
mortalidade = mortalidade.iloc[0:276,[0,203]]

In [5]:
consumo_comida =consumo_comida.iloc[0:276,[42]]

In [6]:
pobreza =pobreza.iloc[0:276,[25]]

In [7]:
final = mortalidade.join(consumo_comida, lsuffix='_mortalidade')
final = final.join(pobreza,lsuffix='_calorias', rsuffix='_pobreza')

In [8]:
final = final.dropna()
final.columns=['PAIS','MORTALIDADE','CALORIES_INTAKE','POBREZA']

In [9]:
final.head()

         PAIS MORTALIDADE CALORIES_INTAKE POBREZA
3     Albania        23,6         2864,93    8,76
10  Argentina        19,2          2965,9   23,05
11    Armenia        27,2         2150,57   46,74
20    Belarus        11,8         2968,65     2,5
26    Bolivia        72,2         2173,19   32,91

In [12]:
final.to_csv('../Datasets/dados_preparados.csv')